# --- Raycynix Action Defaults ---
node_modules/
lib/
*.tsbuildinfo
npm-debug.log*
dist/

# --- Visual Studio ---
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# --- Visual Studio Code ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# --- JetBrains Rider ---
.idea/
*.sln.iml
*.csproj.iml
*.priority.json

# --- OS Files ---
.DS_Store
Thumbs.db